.config/zsh/.zcompdump
.config/hypr/monitors.conf
.config/xfce4
.config/xsettingsd
.config/nwg-look
.config/pulse
.config/qBittorrent
.config/qt5ct
.config/rstudio
.config/RStudio
.config/spotify
.config/tetrio-desktop
.config/Thunar
.config/VirtualBox
.config/libreoffice
.config/menus
.config/mozilla
.config/inkscape
.config/Jackbox Games
.config/dconf
.config/discord
.config/Electron
.config/GIMP
.config/go
.config/gtk-3.0
.config/gtk-4.0
.config/yay
.config/QtProject.conf
